{%extends 'index.html' %}
{%block content %}
{% include 'nav.html'%}
    <div class="container relative">
        <div class="flex items-center justify-center">
            <form method="POST" enctype="multipart/form-data" class="shadow-lg p-5 w-2/4 bg-white border border-1">
                {{form.hidden_tag()}}

                {% with messages = get_flashed_messages(with_categories=true) %}

                {% if messages %}
                       
                    {% for category, message in messages %}

                    <!-- <div class="fw-bolder bg-danger text-center text-white rounded py-3">

                    </div> -->
                        <div class=" text-center fw-bolder alert alert-{{category}}">
                            
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <h2 class="text-center text-xl text-orange-600  fw-bold text-2xl">Service Registration Interface</h2>
                <p class="text-center text-xs text-grey mt-2">Proceed to register an interface</p>
                <div class="mt-5">
                     {{form.Namespace.label(class='fw-bold')}}
                    {{form.Namespace(class='block w-full p-2 border-2 mt-2 form-control')}}
                </div>
                <div class="mt-5">
                    {{form.Ms_name.label(class='fw-bold')}}
                    {{form.Ms_name(class='block w-full p-2 border-2 mt-2 form-control')}}
              
                </div>
                <div class="mt-5">
                    {{form.Description.label(class='fw-bold')}}
                    {{form.Description(class='block w-full p-2 border-2 mt-2 form-control')}}
              
                
                </div>
                <div class="mt-5">
                    {{form.Ms_type.label(class='fw-bold')}}
                    {{form.Ms_type(class='block w-full p-2 border-2 mt-2 form-control')}}
              
                </div>
                <div class="mt-5">
                    {{form.Dependencies.label(class='fw-bold')}}
                    {{form.Dependencies(class='block w-full p-2 border-2 mt-2 form-control')}}
              </div>
                <div class="mt-5">
                    {{form.Framework.label(class='fw-bold')}}
                    {{form.Framework(class='block w-full p-2 border-2 mt-2 form-control')}}
              </div>
                <div class="mt-5">
                    {{form.GPU.label(class='fw-bold')}}
                    {{form.GPU(class='block w-full p-2 border-2 mt-2 form-control')}}
              
                </div>
                <div class="mt-5">
                    {{form.Pipeline.label(class='fw-bold')}}
                    {{form.Pipeline(class='block w-full p-2 border-2 mt-2 form-control')}}
              </div>
                <div class="mt-5">
                    {{form.Model_format.label(class='fw-bold')}}
                    {{form.Model_format(class='block w-full p-2 border-2 mt-2 form-control')}}
              
                </div>
                <div class="mt-5">
                    {{form.ServiceCategory.label(class='fw-bold')}}
                    {{form.ServiceCategory(class='block w-full p-2 border-2 mt-2 form-control')}}
              </div>
               
                <div class="mt-5">
                    {{form.Input_sp.label(class='fw-bold')}}
                    {{form.Input_sp(class='block w-full p-2 border-2 mt-2 form-control')}}
             
                </div>
                <div class="mt-5">
                    {{form.Output_sp.label(class='fw-bold')}}
                    {{form.Output_sp(class='block w-full p-2 border-2 mt-2 form-control')}}
               </div>
                <div class="mt-5">
                    {{form.Contributor.label(class='fw-bold')}}
                    {{form.Contributor(class='block w-full p-2 border-2 mt-2 form-control')}}
               
                </div>
                <div class="mt-5">
                    {{form.License.label(class='fw-bold')}}
                    {{form.License(class='block w-full p-2 border-2 mt-2 form-control')}}
               
                </div>
                <!-- <div class="mt-5">
                    <button class="col-span-6 bg-orange-600 text-white btn btn-primary w-100 p-2 mt-4" >Register Services</button>
                    <input type="reset" class="w-full bg-orange-600 text-white btn btn-secondary w-100 p-2 mt-4" ></input>
                </div> -->
                <div class="mt-3 flex space-between">
                    
                    
                    {{form.submit(class='btn btn-primary fw-bolder')}}
                    <input type="Reset" value="RESET" class="btn btn-danger fw-bolder">
                </div>
            </form>
        </div>
    </div>
{%endblock content%}